@model AdminViewModel
@{
    ViewData["Title"] = "Admin";
}

<h2 class="text-muted text-center font-weight-light" style="margin-top:0;">@ViewData["Title"]</h2>
<br />
<br />
<br />
<h2 class="text-muted text-center" style="margin-top:0;">Пользователи</h2>
<br />
<table class="table table-bordered table-filter-style" id="users-table">
    <thead>
        <tr>
            <th>Email</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model.Users)
        {
            <tr>
                <td>@user.Email</td>
            </tr>
        }
    </tbody>
</table>
@*<br />
<br />
<br />
<br />
<h2 class="text-muted text-center" style="margin-top:0;">Заявки</h2>
<br />
<table class="table table-bordered table-filter-style" id="order-table">
    <thead>
        <tr>
            <th>Создан</th>
            <th>Email</th>
            <th>Фамилия</th>
            <th>Имя</th>
            <th>Отчество</th>
            <th>Адрес</th>
            <th>Телефон</th>
            <th>Описание</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var order in Model.Orders)
        {
            <tr>
                <td>@order.Create </td>
                <td>@order.User.UserName </td>
                <td>@order.FirstName</td>
                <td>@order.SecondName</td>
                <td>@order.MiddleName</td>
                <td>@order.Adress </td>
                <td>@order.Phone</td>
                <td>@order.Description</td>
            </tr>
        }
    </tbody>
</table>
<br />
<br />
<br />
<br />
<h2 class="text-muted text-center" style="margin-top:0;">Показания</h2>
<br />
<table class="table table-bordered table-filter-style" id="report-table">
    <thead>
        <tr>
            <th>Создан</th>
            <th>Email</th>
            <th>Показания</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var report in Model.Reports)
        {
            <tr>
                <td>@report.Create </td>
                <td>@report.User.UserName </td>
                <td>@report.ElectricityMeter</td>
            </tr>
        }
    </tbody>
</table>*@
