@inject Eljur.Context.dbContext _db
@using Microsoft.EntityFrameworkCore;
@model List<Eljur.Context.Tables.Subject>
@{
    ViewData["Title"] = "Предметы";
}
<br />
<h2 class="text-muted text-center font-weight-light" style="margin-top:0;">Редактировать предметы</h2>
<br />
<br />
<hr />
<h6 class="text-center">Список предметов</h6>
<hr />
<br />
<table class="table table-bordered" id="tableid" style="text-align:center">
    <thead>
        <tr>
            <th>Название</th>
            <th>Преподаватель</th>
            <th>Кол-во тем (шт.)</th>
            <th>Кол-во часов</th>
            <th>Тип аттестации</th>
            <th>Время на аттестацию (ч.)</th>
            <th>Действие</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var el in Model)
        {
            var subject = _db.Subject.Include(x => x.Semester).ThenInclude(x => x.Group).Where(x => x.Id == el.Id).FirstOrDefault();
            <tr>
                <td>@el.Name  (@subject.Group.Name; Семестр №@subject.Semester.Number)</td>
                <td>@el.Teacher?.FIO</td>
                <td>@el.Themes.Count()</td>
                <td>@el.Themes.Sum(x=>x.AllowedHours)</td>
                <td>@Html.DisplayFor(x=>el.Attestation)</td>
                <td>@el.AttestationHours</td>
                <td align="center">
                    <a class="btn btn-primary" asp-action="RemoveSubject" asp-route-id="@el.Id" asp-controller="Settings" title="Удалить выбранную запись">❌</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<br />
<hr />
<h6 class="text-center">Добавить предмет</h6>
<hr />
<br />
<div style="width: 300px; margin: auto;">
    <form asp-controller="Settings" asp-action="EditSubject">
        @{
            var groups = _db.Group.Include(x => x.Specialization).ThenInclude(x => x.EducationDepartment).ThenInclude(x => x.EducationLevels).ToList();
            var fullGroup = groups.Select(x => new { Id = x.Id, Name = x.Name + "->" + x.Specialization?.Name + "->" + x.Specialization?.EducationDepartment.Name + "->" + x.Specialization?.EducationLevel.Name });
        }
        <div class="form-group">
            <label>Название предмета</label>
            <input name="name" class="form-control" placeholder="Философия" />
        </div>
        <div class="form-group">
            <label>Название группы</label>
            <select class="form-control" name="groupId" asp-items="@(new SelectList(fullGroup, "Id", "Name"))"></select>
        </div>
        <div class="form-group">
            <label>Номер семестра</label>
            <input class="form-control" name="semesterNumber" type="number" min="1" max="20" step="1" placeholder="1" />
        </div>
        <div class="form-group">
            <label>Тип аттестации</label>
            <select class="form-control" name="attestationEnum" asp-items="@Html.GetEnumSelectList(typeof(Eljur.Context.Tables.AttestationEnum))"></select>
        </div>
        <div class="form-group">
            <label>Время на аттестацию</label>
            <input class="form-control" name="attestationHouse" type="number" min="0" max="20" step="0.1" placeholder="0" />
        </div>
        <div class="form-group">
            <label>Преподаватель</label>
            <select class="form-control" name="teacherId" asp-items="@(new SelectList(_db.Teachers, "Id", "FIO"))"></select>
        </div>
        <div>
            <button class="btn btn-primary" style="width:100%;">Добавить</button>
        </div>
    </form>
</div>
<br />
<hr />
<h6 class="text-center">Изменить предмет</h6>
<hr />
<br />
<div style="width: 300px; margin: auto;">
    <form asp-controller="Settings" asp-action="EditSubject">
        <div class="form-group">
            <label>Именить</label>
            <select class="form-control" name="id" asp-items="@(new SelectList(Model, "Id", "Name"))"></select>
        </div>
        <div class="form-group">
            <label>На</label>
            <input name="name" class="form-control" placeholder="Философия" />
        </div>
        <div class="form-group">
            <label>Преподаватель</label>
            <select class="form-control" name="teacherId" asp-items="@(new SelectList(_db.Teachers, "Id", "FIO"))"></select>
        </div>
        <div>
            <button class="btn btn-primary" style="width:100%;">Изменить</button>
        </div>
    </form>
</div>